# API Gateway
PORT=4000

# Sui Config
SUI_NETWORK=mainnet
SUI_RPC_URL=https://fullnode.mainnet.sui.io:443

# Walrus Config (Mainnet)
WALRUS_PUBLISHER_URL=https://walrus-mainnet-publisher-1.staketab.org:443
WALRUS_AGGREGATOR_URL=https://aggregator.walrus-mainnet.walrus.space

# Contract Deployments (Filled by deploy.sh)
PACKAGE_ID=
FORM_REGISTRY_ID=
